@tailwind base;

@tailwind components;

body{
    @apply 
    flex
    justify-start
    items-center
    flex-col

    h-screen

    bg-gradient-to-r
    from-blue-500
    to-blue-900
}

.header_title{
    @apply
    text-4xl
    text-blue-50
    py-4
    mb-4
    text-center
}

.box{
    @apply
    w-10/12
    max-w-2xl
    bg-white
}

.box_title{
    @apply
    text-blue-900
    my-2
    text-center
    font-semibold
    text-xl
}

form{
    @apply
    px-4

    flex
    flex-col
    justify-center
    items-center
}

label{
    @apply
    mt-4
}


input{
    @apply
    bg-blue-300
    rounded-sm
    w-auto
    block
    px-4
    py-1

    focus:outline-none
    focus:ring 
    focus:ring-blue-400
}

button{
    @apply
    bg-blue-500
    text-white
    py-1
    px-4
    my-4
    /* rounded-lg */
    block
    mx-auto
    active:bg-blue-700

    transform
    duration-300
    active:translate-y-1
    ;
}

.box_out_data_presupuesto{
    @apply
    bg-green-200
    p-8
    text-center
}
.box_out_data_restante{
    @apply
    bg-yellow-200
    p-8
    text-center
}
.box_out_data_registros{
    @apply
    bg-white
    p-8
}

.error{
    @apply
    bg-red-300
    p-3
    text-red-800
}

.nuevo-registro{
    @apply
    border-2
    px-2
    border-blue-900
    flex
    justify-between
    items-center
}
.nuevo-registro_monto{
    @apply
    bg-blue-800
    text-blue-50
    rounded-2xl
    px-2
    text-sm
}

.presupuesto-text{
    @apply

    text-green-800
    text-center
}

.normalPresupuesto{
    @apply
    bg-green-300
}
.cuidadoPresupuesto{
    @apply
    bg-yellow-300
}
.peligroPresupuesto{
    @apply
    bg-red-300
}
@tailwind utilities;